*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5% !important;
  height: 100%; }

body {
  font-size: 1.6rem !important;
  font-family: "Rubik", Arial, sans-serif !important;
  color: #333333 !important;
  min-height: 100%; }

.color-strip {
  background-color: #e00000 !important; }

.color-strip {
  display: block;
  z-index: 99;
  background-color: #E00000 !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%; }

.introw {
  margin-top: 15%; }

h1 {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  line-height: 1.2em !important;
  color: #333333; }

h2 {
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 5px 10px 5px 20px;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3em; }

h3 {
  position: absolute;
  top: 50px;
  left: 0px;
  padding: 5px 10px 5px 40px;
  font-family: "Rubik", Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: .9em; }

.number {
  font-size: .75em;
  margin-right: 5px;
  opacity: .5; }

a {
  font-family: inherit !important;
  font-weight: inherit !important;
  text-decoration: inherit !important;
  color: #E00000 !important;
  border-bottom: 1px solid #E00000 !important;
  transition: color 0.5s ease; }

a:hover {
  color: #666666 !important;
  transition: color 0.5s ease; }

p {
  font-size: .9em;
  line-height: 1.6em !important;
  color: #666666; }

.lightergray {
  color: #b5b5b5; }

.work {
  margin-top: 80px; }

.item {
  height: 300px;
  padding: 15px; }

.iteminner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.iteminner img {
  position: absolute;
  width: 100%; }

.overlay {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: opacity 0.25s ease; }

.overlay:hover {
  opacity: 0;
  transition: opacity 0.25s ease; }

footer {
  margin-top: 100px;
  padding: 0 5% 0 5%;
  height: 100px;
  width: 100%;
  background-color: #ededed;
  float: left;
  font-family: "Rubik", Arial, sans-serif;
  font-size: .75em;
  line-height: 100px; }

footer a {
  color: #E00000 !important;
  border-bottom: 1px solid #333333 !important; }

footer a:hover {
  border-bottom: 1px solid #E00000 !important; }

.footer-left {
  float: left;
  text-align: left; }

.footer-right {
  float: right;
  text-align: right; }

@media (max-width: 375px) {
  .footer-left {
    width: 100%;
    text-align: center; }
  .footer-right {
    width: 100%;
    text-align: center; } }

.firstcharacter {
  float: left;
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 3em;
  line-height: 1em;
  padding-top: 0px;
  margin-bottom: -5px;
  padding-right: 2px; }

.grid-item-content {
  height: auto; }

.grid-item-content--height2 {
  height: auto; }

progress {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 99;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: #E00000 !important; }

progress::-webkit-progress-bar {
  background-color: transparent; }

progress::-webkit-progress-value {
  background-color: #E00000 !important; }

progress::-moz-progress-bar {
  background-color: #E00000 !important; }

header {
  position: fixed;
  z-index: 99;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }

.cd-logo {
  display: inline-block;
  height: 60px;
  margin: 20px 0px 0px 15px;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: "Rubik", Arial, sans-serif;
  color: #333333; }

.logo-clicked {
  color: #ffffff; }

.logo-clicked a:hover {
  color: #b5b5b5 !important; }

@media only screen and (min-width: 1024px) {
  .cd-logo {
    position: absolute;
    z-index: 2;
    margin-left: 5%; } }

.cd-main-nav.nav-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s; }

.cd-main-nav.moves-out .cd-subnav-trigger, .cd-main-nav.moves-out .mainnavlinks {
  color: #ffffff; }

.cd-main-nav.moves-out .cd-subnav-trigger #menulink {
  border-bottom: 1px solid #ffffff; }

.cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out .cd-subnav-trigger::after {
  background-color: #ffffff; }

.cd-main-nav.moves-out .cd-subnav-trigger a:hover, .cd-main-nav.moves-out .mainnavlinks a:hover {
  color: #b5b5b5; }

.cd-main-nav .cd-subnav-trigger, .cd-main-nav .go-back a {
  position: relative; }

.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::before, .cd-main-nav .go-back a::after {
  /* arrow icon in CSS */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #485c68;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.cd-main-nav .placeholder {
  /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
  display: none; }

.cd-main-nav {
  position: fixed;
  left: 0;
  visibility: visible;
  width: 100%;
  height: 60px;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 60px;
  margin: 0 0 0 0px;
  padding: 0 5% 0 5%;
  background: transparent;
  text-align: right; }

.cd-main-nav li {
  display: inline-block;
  height: 100%; }

.cd-main-nav li a {
  display: inline-block;
  font-family: "Rubik", Arial, sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  border-bottom: none;
  /* Prevent .cd-subnav-trigger flicker is Safari */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.cd-main-nav li a:not(.cd-subnav-trigger):hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: .6; }

.cd-main-nav .go-back {
  display: none; }

.cd-main-nav .cd-subnav-trigger {
  z-index: 1;
  color: #333333; }

#menulink {
  border-bottom: 1px solid #E00000; }

#menulink:hover {
  border-bottom: 1px solid #333333; }

.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after {
  right: 17px;
  background-color: #333333;
  /* change transform-origin to rotate the arrow */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, right 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s, right 0.3s;
  transition: transform 0.3s, width 0.3s, right 0.3s; }

.cd-main-nav .cd-subnav-trigger::before {
  right: 23px; }

.cd-main-nav .cd-subnav-trigger {
  padding-right: 2.4em;
  padding-left: 1.1em; }

.cd-main-nav li ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #E00000;
  padding: 0 5% 0 15px;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: -webkit-transform 0.3s 0.2s;
  -moz-transition: -moz-transform 0.3s 0.2s;
  transition: transform 0.3s 0.2s; }

@media only screen and (max-width: 1024px) {
  .cd-main-nav {
    top: 0px;
    padding: 0 15px 0 15px; } }

.cd-main-nav li ul li {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, opacity 0.3s 0s; }

.cd-main-nav .placeholder {
  /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
  display: block;
  visibility: hidden;
  opacity: 0;
  pointer-event: none; }

.cd-main-nav.moves-out > li > a {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }

.cd-main-nav.moves-out > li > ul {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.cd-main-nav.moves-out > li ul li {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s; }

.cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out .cd-subnav-trigger::after {
  width: 14px;
  right: 17px; }

.cd-main-nav.moves-out .cd-subnav-trigger::before {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg); }

.cd-main-nav.moves-out .cd-subnav-trigger::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.cd-main-content::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile'; }

@media only screen and (min-width: 1024px) {
  .cd-main-content::before {
    content: 'desktop'; } }

#slidermenu {
  margin-left: 10px; }
