// VARIABLES
$pagecolor: #FFA500;
$menucolor: #FFA500;
$oppcolor: #ffffff;
$darkgray: #333333;
$mediumgray: #666666;
$lightgray: #b5b5b5;
$serif: 'Libre Baskerville', Georgia, serif;
$pageserif: 'skolar-latin', Georgia, serif;
$sansserif: 'Rubik', Arial, sans-serif;
$pagesansserif: 'skolar-sans-latin', Arial, sans-serif;
$colorstrip: none;
$progress: block;
$metamargin: 350px;


*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-size: 1.6rem !important;
  font-family: $pagesansserif !important;
  color: $darkgray !important;
}



.color-strip {
			background-color: #e00000 !important;
}

a {
  font-family: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  border: inherit !important;
  text-decoration: inherit !important;
}

a:hover {
  color: $pagecolor;
}

.color-strip {
  display: $colorstrip;
  background-color: $pagecolor !important;
	position: fixed;
	top: 0;
  left: 0;
	height: 5px;
	width: 100%;
}

h1 {
  font-family: $pageserif;
  font-weight: 600;
  font-style: normal;
  font-size: 80px;
  color: $pagecolor;
}

h2 {
  font-family: $pagesansserif;
  font-weight: normal;
  font-size: 24px;
  color: $mediumgray;
}

h3 {
  font-family: $pageserif;
  font-size: 30px;
}

p {
  font-family: $pagesansserif;
  font-size: 1em;
}

.notes {
  color: $lightgray;
  font-size: .75em;
  font-style: italic;
}

.title {
  width: 100%;
  height: 90vh;
  min-height: 1000px;
  margin-top: 10vh;
  padding: 25px;
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.project-intro {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.headline {
  margin-bottom: 50px;
}

.sub-headline {
  margin-bottom: 50px;
}

.sub {
  width: 40%;
  padding: 10px;
  min-width: 350px;
  max-width: 800px;
  margin: auto;
  text-align: left;
  margin-bottom: 25px;
}

.project-info {
  position: relative;
  margin-bottom: 60px;
  z-index: 1;
  width: 100%;
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20% 0 20%;
}

.lineBlock {
	text-transform: capitalize;
	font-family: $sansserif;
	font-size: .75em;
	display: inline-block;
	margin-right: 25px;
}

.lineBlock label {
  color: $pagecolor;
	margin-bottom: 0px;
  display: block;
}

.lineBlock span {
	color: $darkgray;
}

.lineBlock span a {
	margin-right: 10px;
	border-bottom: none;
	text-decoration: none !important;
}


.tile {
  height: 100vw;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .tile {
    height: 50vw;
  }
}

@media (max-width: 768px) {
  .project-info {
    display: none;
  }
  // .meta {
  //   margin-bottom: $metamargin;
  // }
}

.tile-inner {
  width: 50%;
  min-width: 250px;
  margin: auto;
}

#tile1 {
  background-image: url("http://samvickars.is/img/Sports/newyork-zoom5-01.png");
  background-position: center;
  background-repeat: no-repeat;
}

#tile3 {
  background-image: url("http://samvickars.is/img/Sports/vancouver-zoom5-01.png");
  background-position: center;
  background-repeat: no-repeat;
}








// *********** MENU - DON'T TOUCH ************* //

progress {
  display: $progress;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 99;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  border: none;
  background-color: transparent;
  color: $pagecolor !important;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $pagecolor !important;
}

progress::-moz-progress-bar {
  background-color: $pagecolor !important;
}




header {
  position: fixed;
  z-index: 99;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-logo {
  display: inline-block;
  height: 60px;
  margin: 20px 0px 0px 15px;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  font-family: $sansserif;
  color: $darkgray;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.logo-clicked {
  color: $oppcolor;
}

.logo-clicked a:hover {
  color: $lightgray !important;
}

@media only screen and (min-width: 1024px) {
  .cd-logo {
    position: absolute;
    z-index: 2;
    margin-left: 5%;
  }
}

.cd-main-nav.nav-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.cd-main-nav.moves-out .cd-subnav-trigger, .cd-main-nav.moves-out .mainnavlinks {
  color: $oppcolor;
}

.cd-main-nav.moves-out .cd-subnav-trigger #menulink {
  border-bottom: 1px solid $oppcolor;
}

.cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out .cd-subnav-trigger::after {
  background-color: $oppcolor;
}

.cd-main-nav.moves-out .cd-subnav-trigger a:hover, .cd-main-nav.moves-out .mainnavlinks a:hover {
  color: $lightgray;
}

.cd-main-nav .cd-subnav-trigger, .cd-main-nav .go-back a {
  position: relative;
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::before, .cd-main-nav .go-back a::after {
  /* arrow icon in CSS */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #485c68;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cd-main-nav .placeholder {
  /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
  display: none;
}

.cd-main-nav {
  position: fixed;
  left: 0;
  visibility: visible;
  width: 100%;
  height: 60px;
  font-family: $sansserif;
  line-height: 60px;
  margin: 0 0 0 0px;
  padding: 0 5% 0 5%;
  background: transparent;
  text-align: right;
}


.cd-main-nav li {
  display: inline-block;
  height: 100%;
}
.cd-main-nav li a {
  display: inline-block;
  // padding: .8em;
  font-family: $sansserif;
  line-height: 1;
  font-size: 1.6rem;
  border-bottom: none;
  /* Prevent .cd-subnav-trigger flicker is Safari */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-main-nav li a:not(.cd-subnav-trigger):hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: .6;
}
.cd-main-nav .go-back {
  display: none;
}
.cd-main-nav .cd-subnav-trigger {
  z-index: 1;
  color: $darkgray;
}
.cd-main-nav .cd-subnav-trigger:hover {

}

#menulink {
  border-bottom: 1px solid $pagecolor;
}

#menulink:hover {
  border-bottom: 1px solid $darkgray;
}

.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after {
  // top: 22px;
  right: 17px;
  background-color: $darkgray;
  /* change transform-origin to rotate the arrow */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, right 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s, right 0.3s;
  transition: transform 0.3s, width 0.3s, right 0.3s;
}
.cd-main-nav .cd-subnav-trigger::before {
  right: 23px;
}
.cd-main-nav .cd-subnav-trigger {
  padding-right: 2.4em;
  padding-left: 1.1em;
}
.cd-main-nav li ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $menucolor;
  padding: 0 5% 0 15px;


  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: -webkit-transform 0.3s 0.2s;
  -moz-transition: -moz-transform 0.3s 0.2s;
  transition: transform 0.3s 0.2s;
}

@media only screen and (max-width: 1024px) {
  .cd-main-nav {
    top: 0px;
    padding: 0 15px 0 15px;
  }
}

.cd-main-nav li ul li {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, opacity 0.3s 0s;
}
.cd-main-nav .placeholder {
  /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
  display: block;
  visibility: hidden;
  opacity: 0;
  pointer-event: none;
}
.cd-main-nav.moves-out > li > a {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.cd-main-nav.moves-out > li > ul {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.cd-main-nav.moves-out > li ul li {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
}
.cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out .cd-subnav-trigger::after {
  width: 14px;
  right: 17px;
}
.cd-main-nav.moves-out .cd-subnav-trigger::before {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
.cd-main-nav.moves-out .cd-subnav-trigger::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-main-content::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 1024px) {
  .cd-main-content::before {
    content: 'desktop';
  }
}

#slidermenu {
  margin-left: 10px;
}
