@charset "UTF-8";
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5% !important; }

body {
  font-size: 1.6rem !important;
  font-family: "Libre Baskerville", Georgia, serif !important;
  color: #333333 !important;
  overflow-x: hidden; }

.color-strip {
  background-color: #e00000 !important; }

a {
  font-family: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  border-bottom: 1px dotted !important;
  border-color: inherit;
  text-decoration: inherit !important; }

a:hover {
  color: #e00000 !important; }

.color-strip {
  display: none;
  background-color: #333333 !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%; }

h1 {
  font-family: "Overpass", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 7vw;
  color: #333333; }

@media (max-width: 768px) {
  h1 {
    font-size: 15vw; } }

@media (max-width: 375px) {
  h1 {
    font-size: 20vw; } }

h2 {
  font-family: "Libre Baskerville", Georgia, serif;
  font-weight: normal;
  font-size: 18px;
  color: #666666; }

h3 {
  font-weight: 600;
  text-align: center;
  font-family: "Overpass", Arial, sans-serif;
  font-size: 30px; }

h4 {
  text-align: center;
  font-family: "Libre Baskerville", Georgia, serif;
  color: #666666;
  font-size: 14px;
  font-style: italic; }

h5 {
  font-family: "Overpass", Arial, sans-serif;
  text-transform: uppercase;
  color: #b5b5b5;
  margin-bottom: 25px; }

h5::before {
  content: "| "; }

h6 {
  font-family: "Libre Baskerville", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #b5b5b5;
  font-size: .5em;
  text-align: center; }

h6::before {
  content: "—"; }

h6::after {
  content: "—"; }

p {
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 1em; }

.notes {
  font-family: "Overpass", Arial, sans-serif;
  color: #b5b5b5;
  font-size: .75em;
  font-weight: 300; }

.title {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 100px);
  margin-top: 100px;
  padding: 25px;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center; }

.project-intro {
  width: 100%;
  text-align: center;
  margin-bottom: 30px; }

.headline {
  margin-bottom: 50px; }

.sub-headline {
  margin-bottom: 50px; }

.sub {
  width: 40%;
  padding: 10px;
  min-width: 350px;
  max-width: 800px;
  margin: auto;
  text-align: left;
  margin-bottom: 25px; }

.project-info {
  position: relative;
  margin-bottom: 60px;
  z-index: 99;
  width: 100%;
  min-width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center; }

.meta {
  margin: 0 auto 0 auto;
  height: 60px;
  width: 50%;
  min-width: 350px;
  background-color: white;
  padding: 15px 0 0 0; }

.lineBlock {
  text-transform: capitalize;
  font-family: "Roboto", Arial, sans-serif;
  font-size: .75em;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 15px;
  text-align: left; }

.lineBlock label {
  color: #333333;
  margin-bottom: 0px;
  display: block; }

.lineBlock span {
  color: #333333; }

.lineBlock span a {
  margin-right: 10px;
  border-bottom: none;
  text-decoration: none !important; }

@media (max-width: 768px) {
  .lineBlock-hidden-sm {
    display: none; } }

@media (max-width: 375px) {
  header {
    background-color: white; }
  .project-info {
    height: auto; }
  .meta {
    text-align: center;
    height: auto; }
  .lineBlock {
    text-align: center;
    display: block;
    margin-bottom: 15px; }
  .lineBlock-hidden-xs {
    display: none; } }

#footnotes {
  background-color: #fff;
  z-index: 100;
  position: relative;
  padding-top: 100px;
  margin-top: 100px; }

.footnotes {
  font-size: .5em; }

footer {
  position: relative;
  z-index: 100;
  margin-top: 100px;
  padding: 0 5% 0 5%;
  height: 100px;
  width: 100%;
  background-color: #ededed;
  float: left;
  font-family: "Roboto", Arial, sans-serif;
  font-size: .75em;
  line-height: 100px; }

footer a {
  color: #333333 !important;
  border-bottom: 1px solid #333333 !important; }

footer a:hover {
  border-bottom: 1px solid #333333 !important; }

.footer-left {
  float: left;
  text-align: left; }

.footer-right {
  float: right;
  text-align: right; }

@media (max-width: 375px) {
  .footer-left {
    width: 100%;
    text-align: center; }
  .footer-right {
    width: 100%;
    text-align: center; } }

.firstcharacter {
  float: left;
  font-family: "Overpass", Arial, sans-serif;
  font-size: 3em;
  line-height: 1em;
  padding-top: 0px;
  margin-bottom: -5px;
  padding-right: 2px; }

.headline-h1 {
  font-family: "Overpass", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 7vw;
  color: #333333;
  background-color: #ffffff;
  padding: 10px 15px 15px 15px;
  margin: auto; }

@media (max-width: 768px) {
  .headline-h1 {
    font-size: 15vw; } }

@media (max-width: 375px) {
  .headline-h1 {
    font-size: 16.5vw; } }

.sub-headline-h2 {
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 1em;
  line-height: 2em;
  background-color: #ffffff;
  color: #666666;
  padding: 10px 15px 10px 15px; }

.fullscreen {
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 50px 0 50px 0;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center; }

.textbox {
  background-color: #fff;
  padding: 30px;
  margin: 50px 0 50px 0; }

.textbox p {
  font-size: .8em; }

.textbox-wrapper {
  width: 50%;
  min-width: 350px;
  background-color: #ffffff; }

.textbox-header {
  margin-bottom: 50px; }

.bg-viz {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  height: 100vh;
  width: 100%;
  overflow-x: hidden !important; }

.bg-viz-container {
  height: 100%;
  width: calc(100% + 50px);
  font-family: "Overpass", Arial, sans-serif;
  overflow-x: hidden;
  font-size: .8vw; }

@media (min-width: 768px) {
  .bg-viz-container {
    font-size: .548vw; } }

@media (min-width: 1024px) {
  .bg-viz-container {
    font-size: .548vw; } }

@media (min-width: 1280px) {
  .bg-viz-container {
    font-size: .4vw; } }

@media (min-width: 1440px) {
  .bg-viz-container {
    font-size: .42vw; } }

@media (min-width: 1600px) {
  .bg-viz-container {
    font-size: .36vw; } }

.bg_tweet_name {
  margin-left: 1px;
  color: #000000;
  opacity: .1;
  will-change: transform;
  -webkit-transition: background-color .75s;
  -moz-transition: background-color .75s;
  transition: background-color .75s; }

.bg_tweet_name.bg_tweet-solid {
  color: rgba(255, 255, 255, 0); }

.bg_tweet_name.bg_tweet_name_solid {
  background-color: #000000;
  opacity: .1; }

.bg_tweetword {
  margin-left: 1px;
  will-change: transform;
  -webkit-transition: background-color .75s;
  -moz-transition: background-color .75s;
  transition: background-color .75s; }

.bg_tweetword-WEB.by-pos {
  color: #F0CF65 !important; }

.bg_tweetword-WEB.by-pos.bg_tweetword-solid {
  background-color: #F0CF65 !important;
  color: #F0CF65 !important;
  color: rgba(255, 255, 255, 0) !important; }

.legend-WEB {
  background-color: #F0CF65; }

.bg_tweetword-NN.by-pos, .bg_tweetword-NNS.by-pos {
  color: #FF3366; }

.legend-NN {
  background-color: #FF3366; }

.bg_tweetword-NN.by-pos.bg_tweetword-solid, .bg_tweetword-NNS.by-pos.bg_tweetword-solid {
  background-color: #FF3366;
  color: #FF3366;
  color: rgba(255, 255, 255, 0); }

.bg_tweetword-NNP.by-pos, .bg_tweetword-NNPS.by-pos, .bg_tweetword-POS.by-pos {
  color: #4E8098; }

.legend-NNP {
  background-color: #4E8098; }

.bg_tweetword-NNP.by-pos.bg_tweetword-solid, .bg_tweetword-NNPS.by-pos.bg_tweetword-solid, .bg_tweetword-POS.by-pos.bg_tweetword-solid {
  background-color: #4E8098;
  color: #4E8098;
  color: rgba(255, 255, 255, 0); }

.bg_tweetword-PRP.by-pos, .bg_tweetword-PRPd.by-pos {
  color: #A31621; }

.legend-PRP {
  background-color: #A31621; }

.bg_tweetword-PRP.by-pos.bg_tweetword-solid, .bg_tweetword-PRPd.by-pos.bg_tweetword-solid {
  background-color: #A31621;
  color: #A31621;
  color: rgba(255, 255, 255, 0); }

.bg_tweetword-JJ.by-pos, .bg_tweetword-JJR.by-pos {
  color: #BB8588; }

.legend-JJ {
  background-color: #BB8588; }

.bg_tweetword-JJ.by-pos.bg_tweetword-solid, .bg_tweetword-JJR.by-pos.bg_tweetword-solid {
  background-color: #BB8588;
  color: #BB8588;
  color: rgba(255, 255, 255, 0); }

.bg_tweetword-JJS.by-pos {
  color: #BB8588; }

.bg_tweetword-JJS.by-pos.bg_tweetword-solid {
  background-color: #BB8588;
  color: #BB8588;
  color: rgba(255, 255, 255, 0); }

.bg_tweetword-UH.by-pos {
  color: #93032E; }

.legend-UH {
  background-color: #93032E; }

.bg_tweetword-UH.by-pos.bg_tweetword-solid {
  background-color: #93032E;
  color: #93032E;
  color: rgba(255, 255, 255, 0); }

.bg_tweetword-WP.by-pos, .bg_tweetword-WRB.by-pos {
  color: #90FFDC; }

.legend-WP {
  background-color: #90FFDC; }

.bg_tweetword-WP.by-pos.bg_tweetword-solid, .bg_tweetword-WRB.by-pos.bg_tweetword-solid {
  background-color: #90FFDC;
  color: #90FFDC;
  color: rgba(255, 255, 255, 0); }

.bg_tweetword-DT.by-pos, .bg_tweetword-WDT.by-pos, .bg_tweetword-MD.by-pos, .bg_tweetword-IN.by-pos, .bg_tweetword-FW.by-pos, .bg_tweetword-CD.by-pos, .bg_tweetword-TO.by-pos, .bg_tweetword-CC.by-pos, .bg_tweetword-RP.by-pos, .bg_tweetword-EX.by-pos {
  color: #FAC9B8; }

.legend-other {
  background-color: #FAC9B8; }

.bg_tweetword-DT.by-pos.bg_tweetword-solid, .bg_tweetword-WDT.by-pos.bg_tweetword-solid, .bg_tweetword-MD.by-pos.bg_tweetword-solid, .bg_tweetword-FW.by-pos.bg_tweetword-solid, .bg_tweetword-IN.by-pos.bg_tweetword-solid, .bg_tweetword-CD.by-pos.bg_tweetword-solid, .bg_tweetword-TO.by-pos.bg_tweetword-solid, .bg_tweetword-CC.by-pos.bg_tweetword-solid, .bg_tweetword-RP.by-pos.bg_tweetword-solid, .bg_tweetword-EX.by-pos.bg_tweetword-solid {
  background-color: #FAC9B8;
  color: #FAC9B8;
  color: rgba(255, 255, 255, 0); }

.bg_tweetword-RB.by-pos, .bg_tweetword-RBR.by-pos, .bg_tweetword-RBS.by-pos {
  color: #034C3C; }

.legend-RB {
  background-color: #034C3C; }

.bg_tweetword-RB.by-pos.bg_tweetword-solid, .bg_tweetword-RBR.by-pos.bg_tweetword-solid, .bg_tweetword-RBS.by-pos.bg_tweetword-solid {
  background-color: #034C3C;
  color: #034C3C;
  color: rgba(255, 255, 255, 0); }

.bg_tweetword-VB.by-pos, .bg_tweetword-VBD.by-pos, .bg_tweetword-VBG.by-pos, .bg_tweetword-VBN.by-pos, .bg_tweetword-VBP.by-pos, .bg_tweetword-VBZ.by-pos {
  color: #444054 !important; }

.legend-VB {
  background-color: #444054; }

.bg_tweetword-VB.by-pos.bg_tweetword-solid, .bg_tweetword-VBD.by-pos.bg_tweetword-solid, .bg_tweetword-VBG.by-pos.bg_tweetword-solid, .bg_tweetword-VBN.by-pos.bg_tweetword-solid, .bg_tweetword-VBP.by-pos.bg_tweetword-solid, .bg_tweetword-VBZ.by-pos.bg_tweetword-solid {
  background-color: #444054;
  color: #444054;
  color: rgba(255, 255, 255, 0); }

.bg_tweet {
  margin: 0 1px 0 1px; }

.s2filters {
  height: 25px;
  overflow-y: hidden;
  width: 100%;
  position: absolute;
  top: 80px;
  text-align: center;
  font-family: "Overpass", Arial, sans-serif;
  font-size: 10px; }

.s2filters2 {
  height: 25px;
  overflow-y: hidden;
  width: 100%;
  position: absolute;
  top: 105px;
  text-align: center;
  font-family: "Overpass", Arial, sans-serif;
  font-size: 10px; }

.sourceFilter {
  margin-left: 15px;
  color: #b5b5b5;
  cursor: pointer; }

.sourceFilter:hover {
  color: #666666;
  border-bottom: 1px dotted #666666; }

.sourceFilter.isselected {
  color: #333333;
  border-bottom: 1px dotted #333333; }

#wrapper {
  width: 100%;
  height: 25px;
  overflow-x: hidden;
  overflow-y: hidden; }

#content {
  width: 850px;
  height: 25px; }

.arrow {
  position: absolute;
  top: -7px;
  bottom: 0;
  width: 20px;
  display: none;
  z-index: 100;
  cursor: pointer;
  color: #000;
  text-align: center;
  line-height: 30px; }

.arrow.visible {
  display: block; }

.arrow.left {
  left: 0;
  background: white;
  background: -moz-linear-gradient(left, white 0%, white 17%, rgba(255, 255, 255, 0.55) 54%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(17%, white), color-stop(54%, rgba(255, 255, 255, 0.55)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, white 0%, white 17%, rgba(255, 255, 255, 0.55) 54%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, white 0%, white 17%, rgba(255, 255, 255, 0.55) 54%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, white 0%, white 17%, rgba(255, 255, 255, 0.55) 54%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0%, white 17%, rgba(255, 255, 255, 0.55) 54%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }

.arrow.right {
  right: 0;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.55) 46%, white 83%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(46%, rgba(255, 255, 255, 0.55)), color-stop(83%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.55) 46%, white 83%, white 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.55) 46%, white 83%, white 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.55) 46%, white 83%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.55) 46%, white 83%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }

.filterbutton {
  margin-right: 10px; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: 6px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.all-text {
  color: #333333; }

.all-filter [type="radio"]:checked + label:before,
.all-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #333333; }

.all-filter [type="radio"]:checked + label:after,
.all-filter [type="radio"]:not(:checked) + label:after {
  background: #333333; }

.makingAmericaGreatAgain-text {
  color: #79BEEE; }

.makingAmericaGreatAgain-filter [type="radio"]:checked + label:before,
.makingAmericaGreatAgain-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #79BEEE; }

.makingAmericaGreatAgain-filter [type="radio"]:checked + label:after,
.makingAmericaGreatAgain-filter [type="radio"]:not(:checked) + label:after {
  background: #79BEEE; }

.jobs-text {
  color: #FFC43D; }

.jobs-filter [type="radio"]:checked + label:before,
.jobs-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #FFC43D; }

.jobs-filter [type="radio"]:checked + label:after,
.jobs-filter [type="radio"]:not(:checked) + label:after {
  background: #FFC43D; }

.officialBusiness-text {
  color: #EF476F; }

.officialBusiness-filter [type="radio"]:checked + label:before,
.officialBusiness-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #EF476F; }

.officialBusiness-filter [type="radio"]:checked + label:after,
.officialBusiness-filter [type="radio"]:not(:checked) + label:after {
  background: #EF476F; }

.election-text {
  color: #A20021; }

.election-filter [type="radio"]:checked + label:before,
.election-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #A20021; }

.election-filter [type="radio"]:checked + label:after,
.election-filter [type="radio"]:not(:checked) + label:after {
  background: #A20021; }

.media-text {
  color: #72727E; }

.media-filter [type="radio"]:checked + label:before,
.media-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #72727E; }

.media-filter [type="radio"]:checked + label:after,
.media-filter [type="radio"]:not(:checked) + label:after {
  background: #72727E; }

.foreignAffairs-text {
  color: #9893DA; }

.foreignAffairs-filter [type="radio"]:checked + label:before,
.foreignAffairs-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #9893DA; }

.foreignAffairs-filter [type="radio"]:checked + label:after,
.foreignAffairs-filter [type="radio"]:not(:checked) + label:after {
  background: #9893DA; }

.immigrationBan-text {
  color: #60492C; }

.immigrationBan-filter [type="radio"]:checked + label:before,
.immigrationBan-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #60492C; }

.immigrationBan-filter [type="radio"]:checked + label:after,
.immigrationBan-filter [type="radio"]:not(:checked) + label:after {
  background: #60492C; }

.fakeNews-text {
  color: #0D2149; }

.fakeNews-filter [type="radio"]:checked + label:before,
.fakeNews-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #0D2149; }

.fakeNews-filter [type="radio"]:checked + label:after,
.fakeNews-filter [type="radio"]:not(:checked) + label:after {
  background: #0D2149; }

.democraticParty-text {
  color: #CF5C36; }

.democraticParty-filter [type="radio"]:checked + label:before,
.democraticParty-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #CF5C36; }

.democraticParty-filter [type="radio"]:checked + label:after,
.democraticParty-filter [type="radio"]:not(:checked) + label:after {
  background: #CF5C36; }

.unofficialBusiness-text {
  color: #ABD1B5; }

.unofficialBusiness-filter [type="radio"]:checked + label:before,
.unofficialBusiness-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #ABD1B5; }

.unofficialBusiness-filter [type="radio"]:checked + label:after,
.unofficialBusiness-filter [type="radio"]:not(:checked) + label:after {
  background: #ABD1B5; }

.russia-text {
  color: #6B6054; }

.russia-filter [type="radio"]:checked + label:before,
.russia-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #6B6054; }

.russia-filter [type="radio"]:checked + label:after,
.russia-filter [type="radio"]:not(:checked) + label:after {
  background: #6B6054; }

.republicanParty-text {
  color: #BBACC1; }

.republicanParty-filter [type="radio"]:checked + label:before,
.republicanParty-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #BBACC1; }

.republicanParty-filter [type="radio"]:checked + label:after,
.republicanParty-filter [type="radio"]:not(:checked) + label:after {
  background: #BBACC1; }

.foreignLeader-text {
  color: #9D6381; }

.foreignLeader-filter [type="radio"]:checked + label:before,
.foreignLeader-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #9D6381; }

.foreignLeader-filter [type="radio"]:checked + label:after,
.foreignLeader-filter [type="radio"]:not(:checked) + label:after {
  background: #9D6381; }

.healthcare-text {
  color: #612940; }

.healthcare-filter [type="radio"]:checked + label:before,
.healthcare-filter [type="radio"]:not(:checked) + label:before {
  border: 2px solid #612940; }

.healthcare-filter [type="radio"]:checked + label:after,
.healthcare-filter [type="radio"]:not(:checked) + label:after {
  background: #612940; }

.bg_tweet-makingAmericaGreatAgain.by-topic {
  color: #79BEEE; }

.legend-makingAmericaGreatAgain {
  background-color: #79BEEE; }

.bg_tweet-jobs.by-topic {
  color: #FFC43D; }

.legend-jobs {
  background-color: #FFC43D; }

.bg_tweet-officialBusiness.by-topic {
  color: #EF476F; }

.legend-officialBusiness {
  background-color: #EF476F; }

.bg_tweet-election.by-topic {
  color: #A20021; }

.legend-election {
  background-color: #A20021; }

.bg_tweet-media.by-topic {
  color: #72727E; }

.legend-media {
  background-color: #72727E; }

.bg_tweet-foreignAffairs.by-topic {
  color: #9893DA; }

.legend-foreignAffairs {
  background-color: #9893DA; }

.bg_tweet-immigrationBan.by-topic {
  color: #60492C; }

.legend-immigrationBan {
  background-color: #60492C; }

.bg_tweet-fakeNews.by-topic {
  color: #0D2149; }

.legend-fakeNews {
  background-color: #0D2149; }

.bg_tweet-democraticParty.by-topic {
  color: #CF5C36; }

.legend-democraticParty {
  background-color: #CF5C36; }

.bg_tweet-unofficialBusiness.by-topic {
  color: #ABD1B5; }

.legend-unofficialBusiness {
  background-color: #ABD1B5; }

.bg_tweet-russia.by-topic {
  color: #6B6054; }

.legend-russia {
  background-color: #6B6054; }

.bg_tweet-republicanParty.by-topic {
  color: #BBACC1; }

.legend-republicanParty {
  background-color: #BBACC1; }

.bg_tweet-foreignLeader.by-topic {
  color: #9D6381; }

.legend-foreignLeader {
  background-color: #9D6381; }

.bg_tweet-healthcare.by-topic {
  color: #612940; }

.legend-healthcare {
  background-color: #612940; }

.bg_tweet-makingAmericaGreatAgain.by-topic.bg_tweet-solid {
  color: #79BEEE;
  color: rgba(255, 255, 255, 0);
  background-color: #79BEEE; }

.s2-tweet-makingAmericaGreatAgain {
  fill: #79BEEE; }

.bg_tweet-jobs.by-topic.bg_tweet-solid {
  color: #FFC43D;
  color: rgba(255, 255, 255, 0);
  background-color: #FFC43D; }

.s2-tweet-jobs {
  fill: #FFC43D; }

.bg_tweet-officialBusiness.by-topic.bg_tweet-solid {
  color: #EF476F;
  color: rgba(255, 255, 255, 0);
  background-color: #EF476F; }

.s2-tweet-officialBusiness {
  fill: #EF476F; }

.bg_tweet-election.by-topic.bg_tweet-solid {
  color: #A20021;
  color: rgba(255, 255, 255, 0);
  background-color: #A20021; }

.s2-tweet-election {
  fill: #A20021; }

.bg_tweet-media.by-topic.bg_tweet-solid {
  color: #72727E;
  color: rgba(255, 255, 255, 0);
  background-color: #72727E; }

.s2-tweet-media {
  fill: #72727E; }

.bg_tweet-foreignAffairs.by-topic.bg_tweet-solid {
  color: #9893DA;
  color: rgba(255, 255, 255, 0);
  background-color: #9893DA; }

.s2-tweet-foreignAffairs {
  fill: #9893DA; }

.bg_tweet-immigrationBan.by-topic.bg_tweet-solid {
  color: #60492C;
  color: rgba(255, 255, 255, 0);
  background-color: #60492C; }

.s2-tweet-immigrationBan {
  fill: #60492C; }

.bg_tweet-fakeNews.by-topic.bg_tweet-solid {
  color: #0D2149;
  color: rgba(255, 255, 255, 0);
  background-color: #0D2149; }

.s2-tweet-fakeNews {
  fill: #0D2149; }

.bg_tweet-democraticParty.by-topic.bg_tweet-solid {
  color: #CF5C36;
  color: rgba(255, 255, 255, 0);
  background-color: #CF5C36; }

.s2-tweet-democraticParty {
  fill: #CF5C36; }

.bg_tweet-unofficialBusiness.by-topic.bg_tweet-solid {
  color: #ABD1B5;
  color: rgba(255, 255, 255, 0);
  background-color: #ABD1B5; }

.s2-tweet-unofficialBusiness {
  fill: #ABD1B5; }

.bg_tweet-russia.by-topic.bg_tweet-solid {
  color: #6B6054;
  color: rgba(255, 255, 255, 0);
  background-color: #6B6054; }

.s2-tweet-russia {
  fill: #6B6054; }

.bg_tweet-republicanParty.by-topic.bg_tweet-solid {
  color: #BBACC1;
  color: rgba(255, 255, 255, 0);
  background-color: #BBACC1; }

.s2-tweet-republicanParty {
  fill: #BBACC1; }

.bg_tweet-foreignLeader.by-topic.bg_tweet-solid {
  color: #9D6381;
  color: rgba(255, 255, 255, 0);
  background-color: #9D6381; }

.s2-tweet-foreignLeader {
  fill: #9D6381; }

.bg_tweet-healthcare.by-topic.bg_tweet-solid {
  color: #612940;
  color: rgba(255, 255, 255, 0);
  background-color: #612940; }

.s2-tweet-healthcare {
  fill: #612940; }

.inline-legend {
  font-family: "Overpass", Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 0 3px 0 3px;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.inline-legend:hover {
  opacity: .75; }

.legend-white {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333333;
  border: 1px solid #333333; }

.bg_tweetword-common {
  background-color: white !important;
  color: #333333; }

.bg_tweet_pol-negative.by-polarity {
  background-color: #B31B1B; }

.bg_tweet_pol-swnegative.by-polarity {
  background-color: #CE1620; }

.bg_tweet_pol-swpositive.by-polarity {
  background-color: #FF0800; }

.bg_tweet_pol-positive.by-polarity {
  background-color: #FF6961; }

.tweetbox {
  min-height: 200px;
  height: auto;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center; }

.tweetbox p {
  font-family: "Overpass", Arial, sans-serif; }

.tweet-pol-meta {
  font-family: "Overpass", Arial, sans-serif;
  font-size: .5em;
  line-height: 2em;
  text-transform: uppercase;
  margin-bottom: 10px; }

.tweet-pol-meta-pol, .tweet-pol-meta-sub {
  padding: 2px 5px 2px 5px;
  border-radius: 2px;
  color: white; }

.tweetbox-select {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s; }

@-webkit-keyframes pulse {
  0% {
    background-color: #fff; }
  50% {
    background-color: #000; }
  100% {
    background-color: #fff; } }

.schedule-chart {
  position: absolute;
  width: auto;
  height: auto; }

.x.axis {
  stroke-width: 2px;
  font-family: "Overpass", Arial, sans-serif;
  text-transform: uppercase; }

.yaxis {
  stroke-width: 1px;
  stroke: #b5b5b5;
  display: none;
  opacity: 0; }

.yaxislabel {
  fill: #b5b5b5;
  font-family: "Overpass", Arial, sans-serif;
  font-size: 10px;
  display: none;
  opacity: 0; }

.s2tweetbox {
  display: block;
  min-height: 100px;
  height: auto;
  padding: 20px;
  margin: 0 0 25px 0;
  display: flex;
  align-items: center; }

.s2tweetbox.is-visible {
  border: 1px solid #e1e8ed;
  border-radius: 4px; }

.s2tb_wrapper {
  height: 100%;
  width: 100%; }

.s2tb_header {
  width: 100%;
  height: 40px; }

.s2tb_author {
  float: left;
  width: auto;
  height: 100%; }

.s2tb_image {
  display: inline-block;
  height: 100%;
  width: 40px;
  background-image: url(https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_bigger.jpg);
  background-size: 40px;
  border-radius: 10px; }

.s2tb_user {
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: top; }

.s2tb_name {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 16px; }

.s2tb_username {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666666; }

.s2tb_verified {
  margin-left: 5px;
  width: 1.11111em;
  background-image: url(https://cdn-images-1.medium.com/max/1600/1*fFUnF8o4URvCowXSacCgGA.jpeg);
  display: inline-block;
  height: 14px;
  background-size: contain;
  vertical-align: text-bottom;
  background-repeat: no-repeat; }

.s2tb_follow {
  margin-right: 29px;
  float: right;
  height: 40px;
  width: auto; }

.s2tb_follow a {
  border-bottom: 1px solid #55acee !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: #2b7bb9 !important; }

.a_follow {
  width: 100%;
  height: 100%;
  color: #2b7bb9;
  text-decoration: none;
  outline: 0px;
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #55acee;
  background-color: white;
  padding: 0 25px 0 25px;
  /* padding: 5.5px 13px 6.5px 11.5px; */
  border: 1px solid #55acee;
  border-radius: 4px; }

.a_follow:hover {
  color: #ffffff !important;
  background-color: #55acee;
  text-decoration: none;
  outline: 0px;
  border: 1px solid #55acee;
  border-radius: 4px; }

.s2tb_text {
  padding: 10px 0 10px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.s2tb_footer {
  height: 25px;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  color: #666666; }

.section2_text {
  margin: 500px 0 0 0;
  width: 100%;
  height: 1000px; }

@media (min-width: 1025px) {
  .section2_text {
    margin-top: 0;
    width: 300px;
    float: right; } }

.s2_textbox {
  z-index: 99;
  margin: 300px 0 0 0;
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #fff; }

@media (min-width: 1025px) {
  .s2_textbox {
    width: 300px;
    float: right; } }

.annotation {
  opacity: 0; }

.annotation-group {
  font-family: "Overpass", Arial, sans-serif; }

.annotation-note-bg {
  fill: #000; }

.s2annotationArrow {
  font-size: 12px;
  line-height: 5px; }

.s2annotationArrow .annotation-note-label, .s2annotationArrow .connector-end {
  fill: #666666 !important; }

.s2annotationArrow .annotation-note-label {
  padding-top: 30px; }

.s2annotationArrow .connector, .s2annotationArrow .note-line, .s2annotationArrow .connector-end {
  stroke: #666666 !important; }

.s2annotationDot {
  font-size: 9px; }

.s2annotationDot .annotation-note-label, .s2annotationDot .connector-end {
  fill: #b5b5b5 !important; }

.s2annotationDot .connector, .s2annotationDot .note-line, .s2annotationDot .connector-end {
  stroke: #b5b5b5 !important; }

.s2-event {
  fill: #666666;
  opacity: .5; }

.s2-eventOutline {
  fill: #ffffff;
  stroke-width: 2px;
  stroke: #666666;
  opacity: 0;
  display: none; }

.keytweetline {
  fill: none;
  stroke: #666666;
  stroke-width: 2px;
  opacity: 0;
  display: none; }

.keytweetdate {
  fill: #666666;
  stroke: none;
  font-family: "Overpass", Arial, sans-serif;
  font-size: 10px;
  text-anchor: middle;
  opacity: 0;
  display: none; }

.s2-left {
  background-color: #ffffff;
  position: absolute;
  height: 600px;
  width: calc(100% - 30px);
  float: left; }

.s2-left-inner {
  height: 600px;
  width: 100%; }

.s2-h1 {
  font-family: "Overpass", Arial, sans-serif;
  font-size: 24px;
  color: #333333;
  font-weight: 600;
  width: calc(100% - 20px - 20px);
  text-align: center; }

#section2tweet {
  height: auto;
  width: calc(100% - 20px - 20px);
  padding: 15px;
  margin: 0 20px 0 20px;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: white; }

#section2chart {
  height: 400px;
  width: 100%; }

.s2-right {
  display: block;
  height: auto;
  width: 100%;
  float: right; }

.s2-textbox {
  padding: 20px;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 99; }

.s2-textbox h2 {
  border-top: 1px solid #b5b5b5;
  padding-top: 10px; }

@media (max-width: 768px) {
  .s2-textbox {
    margin: 200px 0 200px 0; } }

@media (max-width: 768px) {
  .s2tb_follow {
    display: none; }
  .s2tb_text, .s2tb_footer {
    font-size: 12px; } }

@media (min-width: 1024px) {
  .s2-left {
    padding: 0 50px 0 100px;
    width: calc(66% - 15px); }
  .s2-right {
    width: 33%;
    padding: 0 100px 0 50px; } }

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: #333333;
  color: #fff;
  border-radius: 4px;
  font-family: "Overpass", Arial, sans-serif;
  font-size: 12px;
  text-align: left;
  max-width: 250px;
  z-index: 100; }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #333333;
  content: "\25BC";
  position: absolute;
  text-align: center; }

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0; }

.s2-event-date {
  color: #b5b5b5;
  text-transform: uppercase;
  font-size: 10px; }

.s2-event-source {
  color: #b5b5b5;
  font-size: 8px; }

.graph-title {
  font-family: "Overpass", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: underline; }

.graph2-title {
  margin: 25px 0 15px 0;
  text-align: center; }

.graph-yaxis-title {
  font-family: "Overpass", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  fill: #666666; }

.temporary_spacer {
  width: 100%;
  height: 300px; }

.image-row {
  margin: 50px 0 50px 0; }

.caption {
  color: #333333;
  font-family: "Libre Baskerville", Georgia, serif;
  font-weight: 400;
  font-size: .6em;
  width: 200px; }

.imzoom {
  position: relative;
  float: left;
  width: 100%;
  height: 50vw;
  overflow: hidden; }

.imzoom-large {
  height: 85vw; }

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .5s ease-out; }

.txt {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 10%;
  left: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: .75em;
  line-height: 1.5em;
  text-align: center;
  cursor: default;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  width: 125px;
  margin: auto; }

.txt::before {
  content: '\02295';
  font-family: serif;
  font-size: 1.5em;
  speak: none;
  text-align: center;
  vertical-align: -2px;
  margin-right: 6px;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

progress {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: #333333 !important; }

progress::-webkit-progress-bar {
  background-color: transparent; }

progress::-webkit-progress-value {
  background-color: #333333 !important; }

progress::-moz-progress-bar {
  background-color: #333333 !important; }

header {
  position: absolute;
  z-index: 99;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }

header a {
  border: none !important; }

.cd-logo {
  display: inline-block;
  height: 60px;
  margin: 20px 0px 0px 15px;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: #333333;
  border: none !important; }

.cd-logo a {
  border-bottom: none;
  color: #b5b5b5 !important; }

.cd-logo a:hover {
  color: #666666 !important;
  border-bottom: 1px solid !important; }

.cd-logo-opp {
  color: #ffffff !important; }

.logo-clicked {
  color: #ffffff; }

.logo-clicked a:hover {
  color: #b5b5b5 !important; }

@media only screen and (min-width: 1024px) {
  .cd-logo {
    position: absolute;
    z-index: 2;
    margin-left: 5%; } }
