// VARIABLES
$pagecolor: #fa4d16;
$menucolor: #fa4d16;
$oppcolor: #ffffff;
$darkgray: #333333;
$mediumgray: #666666;
$lightgray: #b5b5b5;
$lightergray: #dedede;
$serif: 'Libre Baskerville', Georgia, serif;
$pagesansserif: 'PT Serif', Georgia, serif;
$sansserif: 'Rubik', Arial, sans-serif;
$pageserif: 'Overpass', Arial, sans-serif;
$colorstrip: none;
$progress: block;
$metamargin: 350px;


*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-size: 1.6rem !important;
  font-family: $pagesansserif !important;
  color: $darkgray !important;
}



.color-strip {
			background-color: #e00000 !important;
}

a {
  font-family: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
  border: inherit !important;
  text-decoration: inherit !important;
}

a:hover {
  color: $pagecolor;
}

.color-strip {
  display: $colorstrip;
  background-color: $pagecolor !important;
	position: fixed;
	top: 0;
  left: 0;
	height: 5px;
	width: 100%;
}

h1 {
  font-family: $pagesansserif;
  font-weight: 600;
  font-style: normal;
  font-size: 7vw;
  color: white;

  -webkit-transform: rotate(-10deg) skew(-10deg, 0);
      -moz-transform: rotate(-10deg) skew(-10deg, 0);
       -ms-transform: rotate(-10deg) skew(-10deg, 0);
        -o-transform: rotate(-10deg) skew(-10deg, 0);
           transform: rotate(-10deg) skew(-10deg, 0);
}

.h1-line1 {
  margin-right: 150px;
}

.h1-line2 {
  margin-left: 150px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 15vw;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 10vw;
  }
  .mobile_hide {
    display: none;
  }
}


h2 {
  font-family: $pageserif;
  font-weight: normal;
  font-size: 24px;
  color: $mediumgray;
}

h3 {
  font-family: $pageserif;
  font-size: 30px;
}

h4 {
  font-family: $pageserif;
  font-size: 14px;
  font-style: italic;
}

p {
  font-family: $pagesansserif;
  font-size: 1em;
}

.notes {
  color: $lightgray;
  font-size: .75em;
  font-style: italic;
}

.title {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 25px;
  margin-bottom: 200px;
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#027296+0,88cae3+33,fdae95+66,fa4d16+100 */
  background: #fa4d16; /* Old browsers */
  background: -moz-linear-gradient(left,  #027296 0%, #88cae3 33%, #fdae95 66%, #fa4d16 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #027296 0%,#88cae3 33%,#fdae95 66%,#fa4d16 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #027296 0%,#88cae3 33%,#fdae95 66%,#fa4d16 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#027296', endColorstr='#fa4d16',GradientType=1 ); /* IE6-9 */
}

.project-intro {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.headline {
  margin-bottom: 50px;
}

.sub-headline {
  margin-bottom: 50px;
}

.sub {
  width: 40%;
  padding: 10px;
  min-width: 350px;
  max-width: 800px;
  margin: auto;
  text-align: left;
  margin-bottom: 25px;
}

.project-info {
  position: relative;
  margin-bottom: 60px;
  z-index: 1;
  width: 100%;
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
}

.meta {
  margin: auto;
  padding: 10px 15px 0 15px;
}

.lineBlock {
	text-transform: capitalize;
	font-family: $sansserif;
	font-size: .75em;
	display: inline-block;
	margin-right: 25px;
  margin-bottom: 15px;
  text-align: left;
}

.lineBlock label {
  color: $pagecolor;
	margin-bottom: 0px;
  display: block;
}

.lineBlock span {
	color: $darkgray;
}

.lineBlock span a {
	margin-right: 10px;
	border-bottom: none;
	text-decoration: none !important;
}

@media (max-width: 768px) {
  .lineBlock-hidden-sm {
    display: none;
  }
}

@media (max-width: 375px) {
  header {
    background-color: white;
  }

  .project-info {
    height: auto;
  }
  .meta {
    text-align: center;
    height: auto;
  }
  .lineBlock {
    text-align: center;
    display: block;
    margin-bottom: 15px;
  }
  .lineBlock-hidden-xs {
    display: none;
  }
}

.footnotes {
  font-size: .5em;
}

footer {
  margin-top: 100px;
  padding: 0 5% 0 5%;
  height: 100px;
  width: 100%;
  background-color: #ededed;
  float: left;

  font-family: $sansserif;
  font-size: .75em;
  line-height: 100px;
}

footer a {
  color: $pagecolor !important;
  border-bottom: 1px solid $darkgray !important;
}

footer a:hover {
  border-bottom: 1px solid $pagecolor !important;
}

.footer-left {
  // display: block;
  float: left;
  text-align: left;
}

.footer-right {
  // display: block;
  float: right;
  text-align: right;
}

@media (max-width: 375px) {
  .footer-left {
    width: 100%;
    text-align: center;
  }

  .footer-right {
    width: 100%;
    text-align: center;
  }
}

.firstcharacter {
  float: left;
  font-family: $pageserif;
  font-size: 3em;
  line-height: 1em;
	padding-top: 0px;
	margin-bottom: -5px;
	padding-right: 2px;
}










// HOVER ZOOM

.image-row {
  margin: 50px 0 50px 0;
}

.caption {
  color: $pagecolor;
  font-family: $pageserif;
  font-weight: 400;
  font-size: .6em;
  width: 200px;
}

.imzoom {
  position: relative;
  float: left;
  width: 100%;
  height: 50vw;
  overflow: hidden;
}

.imzoom-large {
  height: 85vw;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .5s ease-out;
}

.txt {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 10%;
  left: 0;
  font-family: $sansserif;
  font-size: .75em;
  line-height: 1.5em;
  text-align: center;
  cursor: default;
  color: white;

  background: rgba(0,0,0,.75);
  border-radius: 10px;
  width:125px;
  margin: auto;
}

.txt::before {
  content: '\02295';
    font-family: serif;
    font-size: 1.5em;
    speak: none;
    text-align: center;
    vertical-align: -2px;
    margin-right: 6px;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

// *********** INSERT HERE ************* //

.s1, .s2, .s4 {
  margin-top: 50px !important;
  margin-bottom: 150px !important;
}

.s1t, .s2t {
  text-align: center;
  padding: 10px 0 10px 0;
  cursor: pointer;

  font-family: $pageserif;
  font-weight: normal;
  font-size: 12px;
  color: $darkgray;
}

.s1o, .s2o {
  background-color: $lightergray;
  margin: 0 -2px 0 -2px;
  padding: 5px 15px 5px 15px;
  border: 1px solid $lightgray;

  transition: background-color .5s;
}

.s1o:hover, .s2o:hover {
  background-color: $lightgray;

  transition: background-color .5s;
}

.s1o_selected, .s2o_selected {
  background-color: $lightgray;
  // border-bottom: 1px solid $darkgray;
}

.s1o_selected:hover, .s2o_selected:hover {
  color: $darkgray;
}

#s1he {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#s1him {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.s1m {
  min-height: 200px;
  height: auto;
  padding: 10px;

  font-family: $pageserif;
  font-size: 24px;
}

.s1legend {
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: $lightgray;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.s1l {
  // text-align: right;
  // background-color: $lightgray;
}

.s1r {
  // background-color: $lightgray;
}

.s1container {
  width: 100%;
  height: 100%;
}

.s1word {
  display: inline-block;
  font-family: $pageserif;
  margin: 2px 4px 2px 4px;
}

[type='radio'] {
  display: none;
}

.btn {
  font-size: 10px;
}

.btn.focus {
  outline: none;
}

.btn.active.focus {
  outline:none;
  color: black;
  background-color: $lightgray;
  border-color: $lightgray;
}

.btn-primary {
    color: black;
    background-color: $lightergray;
    border-color: $lightgray;

    transition: background-color .5s;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: $lightgray !important;
    border-color: $lightgray;
    z-index: 0 !important;

    transition: background-color .5s;
}

.btn-primary:hover {
  color: black !important;
  background-color: $lightgray !important;
  border-color: $lightgray !important;

  z-index: 0 !important;

  transition: background-color .5s;
}

.form-control {
  background-color: white;
  border: 1px solid $lightgray;
  padding: 6px 12px !important;
  height: 28px;
  width: auto;
}

.form-control:hover {
  background-color: white;
  color: black;
}

.form-control:focus {
  outline: none;
  border: 1px solid $lightgray;
  box-shadow: none;
}

.s2m {
  height: 800px;
  max-height: 90vh;
}

.s2label {
  font-size: 12px;
  font-family: $pageserif;
  text-transform: uppercase;
  fill: $mediumgray;
}

.axis text {
  font-family: $pageserif;
  fill: $mediumgray;
  text-transform: uppercase;
}

.axis path {
  fill: none;
  stroke: none;
}

.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis .tick line {
  stroke: $lightergray;
  stroke-dasharray: 4,4;
}

.s3m {
  min-height: 100px;
  padding: 5px;
}

.s3label {
  font-family: $pageserif;
  font-size: 9px;
}

.s3title {
  position: absolute;
  top: 0;
  margin-top: 40px;
  // left: 0;
  width: 100%;

  text-align: center;
  font-family: $pageserif;
  font-size: 12px;
  text-transform: uppercase;
}

.s3title-hl {
  padding: 0 2px 0 2px;
  color: white;
  border-radius: 3px;
}

// .s3dataBox {
//   position: absolute;
//   // bottom: 0;
//   // left: 0;
//   // height: 250px;
//   width: 250px;
//   background-color: white;
//   border: 2px solid white;
//   border-radius: 3px;
//   padding: 5px;
//   z-index: 99;
//
//   text-align: left;
//   font-family: $pageserif;
//   font-weight: 100;
//   font-size: 10px;
//   color: $darkgray;
//   text-align: left;
// }

.s3lyric2 {
  font-weight: 400;
  color: $darkgray;
}

.s3dataBox_section {
  font-family: $pageserif;
  font-size: 11px;
  text-transform: uppercase;
  color: $lightgray;

  margin-right: 5px;
  padding: 0 2px 0 2px;
  border: 1px solid $lightgray;
  border-radius: 3px;
}

.axisLabel {
  font-size: 10px;
  font-family: $pageserif;
  fill: $lightergray;
  text-anchor: middle;
}

.axisLabelBG {
  font-size: 10px;
  font-family: $pageserif;
  fill: $darkgray;
  stroke: white;
  stroke-width: 4px;
  text-anchor: middle;
}

.s3dataBox {
  display: none;
  pointer-events: none;
  width: 200px;
  position: absolute;
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
  padding: 5px;
  z-index: 99;

  text-align: left;
  font-family: $pageserif;
  font-weight: 100;
  font-size: 10px;
  color: $darkgray;
  text-align: left;

  -webkit-box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
  box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
}

@media only screen and (min-width: 768px) {
  .s3dataBox {
    width: 300px;
  }
}

.tooltip-main {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 15px;
}

.tt-fe-i {
  font-weight: 400;
  opacity: .5;
  margin-bottom: 5px;
}

.underline {
  border-bottom: 1px solid black;
}

.section4 {
  height: 1500px;
}

.line {
  fill: none;
  stroke: $pagecolor;
  stroke-width: .2px;
}

.s4xa > .tick:first-of-type line {
  stroke-width: 1px;
  stroke: $mediumgray;
  stroke-dasharray: none;
}

.s4ya > .tick text {
  text-anchor: middle;
}

.s4yt > .tick text {
  text-anchor: middle;
  stroke: #fff;
  stroke-width: 6px;
}

.y.axis {

}

// .x.axis {
//   stroke: $lightergray;
//   stroke-dasharray: 4,4;
// }

.s4databox {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 50%;
  z-index: 99;
  transform: translate(-50%);
  width: 200px;
  height: 50px;
  background-color: white;

  font-family: $pageserif;
  font-size: 11px;
  text-transform: uppercase;
  color: $mediumgray;
  text-align: center;

  padding: 5px;
  border: 2px solid $lightgray;
  border-radius: 3px;

  -webkit-box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
  box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
}

.s4db-c {
  text-transform: none;
}

.s4labels {
  font-family: $pageserif;
  font-size: 11px;
  text-transform: uppercase;
  fill: $darkgray;
  pointer-events: none;
}

.s4labelsBG {
  font-family: $pageserif;
  font-size: 11px;
  text-transform: uppercase;
  fill: white;
  stroke: white;
  stroke-opacity: .9;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.s4mouselabel {
  font-family: $pageserif;
  font-size: 11px;
  text-transform: uppercase;
  fill: $darkgray;
  pointer-events: none;
}

.s4mouselabelBG {
  font-family: $pageserif;
  font-size: 11px;
  text-transform: uppercase;
  fill: white;
  stroke: white;
  stroke-opacity: .9;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}


// *********** MENU - DON'T TOUCH ************* //

progress {
  display: $progress;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 99;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  border: none;
  background-color: transparent;
  color: $pagecolor !important;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $pagecolor !important;
}

progress::-moz-progress-bar {
  background-color: $pagecolor !important;
}




header {
  position: fixed;
  z-index: 99;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-logo {
  display: inline-block;
  height: 60px;
  margin: 20px 0px 0px 15px;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  font-family: $sansserif;
  color: $darkgray;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.logo-clicked {
  color: $oppcolor;
}

.logo-clicked a:hover {
  color: $lightgray !important;
}

@media only screen and (min-width: 1024px) {
  .cd-logo {
    position: absolute;
    z-index: 2;
    margin-left: 5%;
  }
}

.cd-main-nav.nav-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.cd-main-nav.moves-out .cd-subnav-trigger, .cd-main-nav.moves-out .mainnavlinks {
  color: $oppcolor;
}

.cd-main-nav.moves-out .cd-subnav-trigger #menulink {
  border-bottom: 1px solid $oppcolor;
}

.cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out .cd-subnav-trigger::after {
  background-color: $oppcolor;
}

.cd-main-nav.moves-out .cd-subnav-trigger a:hover, .cd-main-nav.moves-out .mainnavlinks a:hover {
  color: $lightgray;
}

.cd-main-nav .cd-subnav-trigger, .cd-main-nav .go-back a {
  position: relative;
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::before, .cd-main-nav .go-back a::after {
  /* arrow icon in CSS */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #485c68;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cd-main-nav .placeholder {
  /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
  display: none;
}

.cd-main-nav {
  position: fixed;
  left: 0;
  visibility: visible;
  width: 100%;
  height: 60px;
  font-family: $sansserif;
  line-height: 60px;
  margin: 0 0 0 0px;
  padding: 0 5% 0 5%;
  background: transparent;
  text-align: right;
}


.cd-main-nav li {
  display: inline-block;
  height: 100%;
}
.cd-main-nav li a {
  display: inline-block;
  // padding: .8em;
  font-family: $sansserif;
  line-height: 1;
  font-size: 1.6rem;
  border-bottom: none;
  /* Prevent .cd-subnav-trigger flicker is Safari */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-main-nav li a:not(.cd-subnav-trigger):hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: .6;
}
.cd-main-nav .go-back {
  display: none;
}
.cd-main-nav .cd-subnav-trigger {
  z-index: 1;
  color: $darkgray;
}
.cd-main-nav .cd-subnav-trigger:hover {

}

#menulink {
  border-bottom: 1px solid $pagecolor;
}

#menulink:hover {
  border-bottom: 1px solid $darkgray;
}

.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after {
  // top: 22px;
  right: 17px;
  background-color: $darkgray;
  /* change transform-origin to rotate the arrow */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, right 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s, right 0.3s;
  transition: transform 0.3s, width 0.3s, right 0.3s;
}
.cd-main-nav .cd-subnav-trigger::before {
  right: 23px;
}
.cd-main-nav .cd-subnav-trigger {
  padding-right: 2.4em;
  padding-left: 1.1em;
}
.cd-main-nav li ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $menucolor;
  padding: 0 5% 0 15px;


  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: -webkit-transform 0.3s 0.2s;
  -moz-transition: -moz-transform 0.3s 0.2s;
  transition: transform 0.3s 0.2s;
}

@media only screen and (max-width: 1024px) {
  .cd-main-nav {
    top: 0px;
    padding: 0 15px 0 15px;
  }
}

.cd-main-nav li ul li {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, opacity 0.3s 0s;
}
.cd-main-nav .placeholder {
  /* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
  display: block;
  visibility: hidden;
  opacity: 0;
  pointer-event: none;
}
.cd-main-nav.moves-out > li > a {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.cd-main-nav.moves-out > li > ul {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.cd-main-nav.moves-out > li ul li {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
}
.cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out .cd-subnav-trigger::after {
  width: 14px;
  right: 17px;
}
.cd-main-nav.moves-out .cd-subnav-trigger::before {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
.cd-main-nav.moves-out .cd-subnav-trigger::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-main-content::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 1024px) {
  .cd-main-content::before {
    content: 'desktop';
  }
}

#slidermenu {
  margin-left: 10px;
}
