// BREAKPOINTS
$breakpoints: (
  bp2: 320px,
  bp3: 480px,
  bp4: 640px,
  bp5: 800px,
  bp6: 960px,
  bp7: 1120px,
  bp8: 1280px,
);

$mobile: bp4;
$tablet: bp6;

// FONTS
$content: "Inter", "Helvetica Neue", Helvetica, sans-serif;
$mono: "Overpass Mono", monospace;

// BASE COLOURS
$black: #242428;
$asphalt: #494950;
$dust: #cfcfce;
$frost: #dedede;
$snow: #fafafa;
$white: #fff;

// SAM COLOURS
$red: #e00000;

// BORDERS
$border-inactive: 1px solid $dust;
$border-active: 1px solid $asphalt;

//GRADIENTS
$bar-white: linear-gradient(to bottom, $white 5%, transparent 5%);
$bar-light: linear-gradient(to bottom, $dust 5%, transparent 5%);
$bar-dark: linear-gradient(to bottom, $asphalt 5%, transparent 5%);
$bar-black: linear-gradient(to bottom, $black 5%, transparent 5%);
$bar-small-white: linear-gradient(to bottom, $white 5%, transparent 5%);
$bar-small-light: linear-gradient(to bottom, $dust 5%, transparent 5%);
$bar-small-dark: linear-gradient(to bottom, $asphalt 5%, transparent 5%);
$bar-small-black: linear-gradient(to bottom, $black 5%, transparent 5%);
$buttons-colour: radial-gradient(
    circle at 12px 12px,
    #fd635d 4px,
    transparent 5px
  ),
  radial-gradient(circle at 26px 12px, #feac40 4px, transparent 5px),
  radial-gradient(circle at 40px 12px, #30c947 4px, transparent 5px);
$buttons-bw: radial-gradient(circle at 12px 12px, $black 4px, transparent 5px),
  radial-gradient(circle at 26px 12px, $asphalt 4px, transparent 5px),
  radial-gradient(circle at 40px 12px, $asphalt 4px, transparent 5px);
$buttons-wb: radial-gradient(circle at 12px 12px, $white 4px, transparent 5px),
  radial-gradient(circle at 26px 12px, $dust 4px, transparent 5px),
  radial-gradient(circle at 40px 12px, $dust 4px, transparent 5px);

$buttons-small-colour: radial-gradient(
    circle at 8px 8px,
    #fd635d 3px,
    transparent 4px
  ),
  radial-gradient(circle at 18px 8px, #feac40 3px, transparent 4px),
  radial-gradient(circle at 28px 8px, #30c947 3px, transparent 4px);
$buttons-small-bw: radial-gradient(
    circle at 8px 8px,
    $black 3px,
    transparent 4px
  ),
  radial-gradient(circle at 18px 8px, $asphalt 3px, transparent 4px),
  radial-gradient(circle at 28px 8px, $asphalt 3px, transparent 4px);
$buttons-small-wb: radial-gradient(
    circle at 8px 8px,
    $white 3px,
    transparent 4px
  ),
  radial-gradient(circle at 18px 8px, $dust 3px, transparent 4px),
  radial-gradient(circle at 28px 8px, $dust 3px, transparent 4px);

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}
