$gray1: #191919;
$gray2: #333;
$gray3: #666;
$gray4: #b5b5b5;
$gray5: #f9f9fa;
$gray6: #f2f2f2;
$red: #E00000;
$display: 'Work Sans', 'Helvetica Neue', serif;
$serif: 'Cormorant Garamond', Georgia, serif;
$sans: 'Work Sans', 'Helvetica Neue', serif;
$mono: 'Roboto Mono', monospace;