@import "_helpers";
@import "_variables";

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: $white;
  height: 100%;
  color: $black;
  font-family: $content;
  font-size: 16px;
  overflow-x: hidden;
}

.df {
  button,
  input,
  select,
  textarea {
    &:focus {
      outline: none;
    }
  }
}

* {
  box-sizing: border-box;
}
