@import '_variables';

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
  height: 100%;
}

body {
  font-size: 1.6rem !important;
  font-family: $sans !important;
  color: $gray1 !important;
  min-height: 100%;
}