.main {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 60em;
  margin: 0 auto; }

.content {
  padding: 32px 32px 100px; }

.intro {
  margin: 25vh auto 0; }
  .intro h1 {
    margin-bottom: 30px; }

.work {
  width: 100%;
  margin-top: 64px; }
  .work h4 {
    margin-bottom: 24px;
    color: #333; }
  .work .project {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-left: 0;
    margin-bottom: 1.5rem;
    padding: 8px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media (min-width: 35em) {
      .work .project {
        width: calc(33% - 20px);
        margin-right: 10px; } }
    .work .project:hover {
      background-color: #f7f7f7;
      border-radius: 2px; }
      .work .project:hover .image {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
    .work .project .info {
      min-height: 100px; }
    .work .project .image {
      width: 100%;
      padding-bottom: 66%;
      border-radius: 2px;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }

.conclusion {
  margin-top: 64px; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 32px;
  height: 100px;
  width: 100%;
  font-family: "Heebo", "Helvetica Neue", serif;
  font-size: 0.8em;
  line-height: 100px; }
