@import "_helpers";
@import "_variables";
@import "text";

.sam {
  section {
    margin: 0 auto;
    width: 100%;
  }

  .prose {
    margin: 0 auto;
    width: 100%;
  }

  ol {
    list-style: none;
    counter-reset: thiscounter;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

    li {
      position: relative;
      transition: all 500ms;
      border-bottom: $border-inactive;
      counter-increment: thiscounter;

      &::before {
        @extend h2;

        display: none;
        position: absolute;
        top: 0;
        left: -8px;
        transform: translate(-100%, 0);
        color: $frost;
        font-weight: 300;
        content: "0" counter(thiscounter);
      }

      h2 {
        transition: all 250ms;
        cursor: pointer;

        &:hover {
          color: $black;
        }
      }
    }
  }

  .inner-wrapper {
    transition: all 500ms;
    margin: 0 -9999px;
    background-color: $snow;
    padding: 0 9999px;
    height: 0;
    overflow: hidden;
  }

  .cover {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .description {
    width: 100%;

    @include respond-to($tablet) {
      width: calc((100% - 32px) * (2 / 3));
    }

    p {
      color: $asphalt;
      font-size: 12px;

      @include respond-to($tablet) {
        font-size: 14px;
      }
    }
  }

  .details {
    width: 100%;
    overflow-x: hidden;

    @include respond-to($tablet) {
      width: calc((100% - 32px) * (1 / 3));
    }

    a {
      text-decoration: none !important;
      color: inherit;
    }

    .entry {
      transition: all 250ms;
      color: $dust;
    }

    .link {
      &:hover {
        transform: translate(2px, 0);
      }
    }
  }
}
