@import "_helpers";
@import "_variables";

.sam {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: $content;
  }
}

h1 {
  margin: 0 0 24px;
  line-height: 1.25;
  font-size: 32px;
  font-weight: 500;

  @include respond-to($mobile) {
    font-size: 48px;
  }

  strong {
    font-weight: 700;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
}

h5 {
}

h6 {
  letter-spacing: 0.6px;
  font-size: 12px;
  font-weight: 300;

  &.all-caps {
    text-transform: uppercase;
  }
}

p {
  line-height: 1.75;
  font-size: 16px;
  font-weight: 400;

  @include respond-to($mobile) {
    font-size: 18px;
  }

  strong {
    font-weight: 700;
  }
}

a {
  transition: all 0.2s ease !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  text-decoration: underline !important;
  color: $red;

  &:hover {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    color: inherit !important;
  }
}
