<section class="m-t-160 p-r-32 p-l-32">
	<div class="prose mw-800 border--bottom border__frost p-b-32">
		<h1>{{{copy.headline}}}</h1>

		{{#each copy.intro}}
			<p>{{{value}}}
		{{/each}}

		{{#each copy.followup}}
			<p class="dust">{{{value}}}
		{{/each}}

		<p class="asphalt"><strong>{{{copy.endline}}}</strong></p>
	</div>
</section>
