// VARIABLES
$pagecolor: #666666;
$menucolor: #666666;
$oppcolor: #ffffff;
$darkgray: #333333;
$mediumgray: #666666;
$lightgray: #b5b5b5;
$lightergray: #dedede;
$serif: 'Libre Baskerville', Georgia, serif;
$pagesansserif: 'Roboto', sans-serif;;
$sansserif: 'Roboto', Arial, sans-serif;
$pageserif: 'Inconsolata', monospace;
$playfair: 'Playfair Display', serif;
$colorstrip: none;
$progress: block;
$metamargin: 350px;


*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-size: 1.6rem !important;
  font-family: $pagesansserif !important;
  color: $darkgray !important;
  overflow-x: hidden;
}



.color-strip {
			background-color: #e00000 !important;
}

a {
  font-family: inherit !important;
  color: $lightgray;
  border-bottom: 1px solid $lightgray;
  font-weight: inherit !important;
  text-decoration: inherit !important;
}

a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.color-strip {
  display: $colorstrip;
  background-color: $pagecolor !important;
	position: fixed;
	top: 0;
  left: 0;
	height: 5px;
	width: 100%;
}

h1 {
  font-family: $playfair;
  font-weight: 700;
  font-style: normal;
  font-size: 88px;
  color: white;
  font-kerning: normal;
  -webkit-font-feature-settings: "dlig" 1;
  -moz-font-feature-settings:    "dlig" 1;
  -ms-font-feature-settings:     "dlig" 1;
  font-feature-settings:         "dlig" 1;
}

.h1-line1 {
  margin-right: 150px;
}

.h1-line2 {
  margin-left: 150px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 15vw;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 10vw;
  }
  .mobile_hide {
    display: none;
  }
}


h2 {
  font-family: $pagesansserif;
  font-weight: normal;
  font-size: 24px;
  color: white;
  font-kerning: normal;
}

h3 {
  font-family: $playfair;
  font-size: 30px;
  font-kerning: normal;
  -webkit-font-feature-settings: "dlig" 1;
  -moz-font-feature-settings:    "dlig" 1;
  -ms-font-feature-settings:     "dlig" 1;
  font-feature-settings:         "dlig" 1;
}

h4 {
  font-family: $playfair;
  font-size: 30px;
  font-kerning: normal;
}

p {
  font-family: $pagesansserif;
  font-size: .9em;
  font-kerning: normal;
}

.notes {
  color: $lightgray;
  font-size: .75em;
  font-style: italic;
}

.title {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 30vh;
  // padding: 25px;
  // margin-bottom: 200px;
  // display: -webkit-flex; /* Safari */
  //   -webkit-align-items: center; /* Safari 7.0+ */
  // display: flex;
  // align-items: center;
  background: #000000;
}

.project-intro {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 50px;
}

.headline {
  margin-bottom: 50px;
}

.sub-headline {
  margin-bottom: 50px;
}

.sub {
  width: 40%;
  padding: 10px;
  min-width: 350px;
  max-width: 800px;
  margin: auto;
  text-align: left;
  margin-bottom: 25px;
}

.project-info {
  position: relative;
  // margin-bottom: 60px;
  z-index: 1;
  width: 100%;
  background-color: #000;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
}

.container-fluid {
  // padding-top: 60px;
}

.meta {
  margin: auto;
  padding: 10px 15px 0 15px;
}

.lineBlock {
	text-transform: capitalize;
	font-family: $sansserif;
	font-size: .75em;
	display: inline-block;
	margin-right: 25px;
  margin-bottom: 15px;
  text-align: left;
}

.lineBlock label {
  color: $pagecolor;
	margin-bottom: 0px;
  display: block;
}

.lineBlock span {
	color: $darkgray;
}

.lineBlock span a {
	margin-right: 10px;
	border-bottom: none;
	text-decoration: none !important;
}

@media (max-width: 768px) {
  .lineBlock-hidden-sm {
    display: none;
  }
}

@media (max-width: 375px) {
  header {
    background-color: white;
  }

  .project-info {
    height: auto;
  }
  .meta {
    text-align: center;
    height: auto;
  }
  .lineBlock {
    text-align: center;
    display: block;
    margin-bottom: 15px;
  }
  .lineBlock-hidden-xs {
    display: none;
  }
}

.footnotes {
  font-size: .5em;
}

footer {
  margin-top: 100px;
  padding: 0 5% 0 5%;
  height: 100px;
  width: 100%;
  background-color: #ededed;
  float: left;

  font-family: $sansserif;
  font-size: .75em;
  line-height: 100px;
}

footer a {
  color: $pagecolor !important;
  border-bottom: 1px solid $darkgray !important;
}

footer a:hover {
  border-bottom: 1px solid $pagecolor !important;
}

.footer-left {
  // display: block;
  float: left;
  text-align: left;
}

.footer-right {
  // display: block;
  float: right;
  text-align: right;
}

@media (max-width: 375px) {
  .footer-left {
    width: 100%;
    text-align: center;
  }

  .footer-right {
    width: 100%;
    text-align: center;
  }
}

.firstcharacter {
  float: left;
  font-family: $pageserif;
  font-size: 3em;
  line-height: 1em;
	padding-top: 0px;
	margin-bottom: -5px;
	padding-right: 2px;
}

// ENTER STYLES HERE

.ch {
  background-color: black;
  padding-left: 50px;
  color: white;
}

.chend {
  margin-top: 50px;
  background-color: white;
  padding-left: 50px;
  color: $darkgray;
}

.endnote {
  border-top: 2px solid $lightgray;
  color: $darkgray;
  padding: 15px 0 15px 0;
}

.endnote p {
  font-size: .7em;
}

.ch p {
  // margin-bottom: 25px;
}

.ch2 {
  padding-top: 25px;
}

.chA {
  padding: 10px 0 25px 0;
  width: auto;
  display: inline-block;
}

.chAt {
  height: 20px;
}

.chB {
  width: 160px;
  padding-left: 15px;
  display: inline;
}

.number {
  font-family: $pageserif;
}

@media (max-width: 414px) {
  .ch {
    padding-right: 50px;
  }

  .ch2 {
    padding-top: 0;
  }

  .chA {
    padding: 0px 0 0px 0;
  }

  .ch .select2-container {
      width: 240px !important;
      margin-bottom: 5px;
  }

  .hiddenmobile {
    display: none;
  }

  .stl {
    padding-top: 5px;
  }

}

.s1 {
  margin-top: 0px !important;
}

.st {
  height: auto;
  background-color:black;

  color: white;
  font-family: $pagesansserif;
  font-size: 11px;
}

// .stl, .str {
//   height: 75px;
// }
//
//
// .stl {
//   text-align: right;
//   padding-top: 23px;
// }

.stl .selection, .str .selection {
  text-align: left;
}

// .str {
//   display: inline-flex;
//   align-items: center;
// }

.str-label {
  // display: inline-block;
}

.str-size, .str-time {
  display: inline-block;
}

.str-size {
  margin-right: 10px;
}

.str-time {
  height: 100%;
  padding-top: 5px;
}

.stb {
  height: auto;
  text-align: center;
  color: $lightgray;
  padding: 10px 30px 10px 30px;
  font-size: 11px;
}

.serif {
  font-family: $pageserif;
  color: white;
}

.glosLink {
  padding: 1px;
  cursor: pointer;
  border-bottom: 1px solid $lightgray;
}

.glosLink:hover {
  border-bottom: 1px solid white;
  color: white;
}

.highlight {
  color: $lightgray;
}

.chapter {
  position: absolute;
  // padding-left: 80px;
  margin-left: 50px;
  width: 75%;
  min-width: 300px;
}

// @media only screen and (min-width: 1024px) {
//   .chapter {
//   margin-left: 80px;
//   }
// }

.chapterContainer {
  background-color: white;
  // -webkit-box-shadow: 0 0 10px 10px #fff;
  //       box-shadow: 0 0 10px 10px #fff;
  // border: 1px solid black;
  padding: 10px 10px 0 10px;
}

.chapterInner {
}

.chapter h4 {
  margin-top: 0px;
}


.nomobile {
  display: none;
}

#chapter1 {
  top: 250%;
}

#chapter2 {
  top: 700%;
}

#chapter3 {
  top: 850%;
}

#chapter4 {
  top: 1000%;
}

#chapter5 {
  top: 1250%;
}

#chapter6 {
  top: 1400%;
}

@media only screen and (min-width: 1024px) {
  #chapter1 {
    top: 250%;
  }

  #chapter2 {
    top: 500%;
  }

  #chapter3 {
    top: 650%;
  }

  #chapter4 {
    top: 800%;
  }

  #chapter5 {
    top: 950%;
  }

  #chapter6 {
    top: 1100%;
  }
}

@media only screen and (min-width: 1280px) {
  .mobileonly {
    display: none;
  }
  .nomobile {
    display: block;
  }
  #chapter1 {
    top: 250%;
  }

  #chapter2 {
    top: 350%;
  }

  #chapter3 {
    top: 450%;
  }

  #chapter4 {
    top: 550%;
  }

  #chapter5 {
    top: 650%;
  }

  #chapter6 {
    top: 750%;
  }
}



#modaloverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);

  display: flex;
  align-items: center;

  display: none;
}

#modal {
  height: 90%;
  max-height: 500px;
  width: 90%;
  max-width: 400px;
  background-color: white;
  margin: auto;
  position: relative;
  // padding: 0 20px 0 10px;

  font-family: $pagesansserif;
  font-size: 12px;
  color: $darkgray;

  overflow-y: scroll;
  overflow-x: hidden;

  display: none;
}

#modal h3 {
  font-family: $pagesansserif;
}

#modal a {
  color: $lightgray !important;
}

#gClose {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.term {
  margin-bottom: 5px;
}

.gTerm, .gTitle, .gDef {
  padding-left: 0px !important;
}

.gTerm {
  // padding-left: 10px;
  font-weight: 500;
  font-family: $pageserif;
  // text-align: right;
}

.header {
  margin-top: 20px;
}









// HOVER ZOOM

.image-row {
  margin: 50px 0 50px 0;
}

.caption {
  color: $pagecolor;
  font-family: $pageserif;
  font-weight: 400;
  font-size: .6em;
  width: 200px;
}

.imzoom {
  position: relative;
  float: left;
  width: 100%;
  height: 50vw;
  overflow: hidden;
}

.imzoom-large {
  height: 85vw;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .5s ease-out;
}

.txt {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 10%;
  left: 0;
  font-family: $sansserif;
  font-size: .75em;
  line-height: 1.5em;
  text-align: center;
  cursor: default;
  color: white;

  background: rgba(0,0,0,.75);
  border-radius: 10px;
  width:125px;
  margin: auto;
}

.txt::before {
  content: '\02295';
    font-family: serif;
    font-size: 1.5em;
    speak: none;
    text-align: center;
    vertical-align: -2px;
    margin-right: 6px;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}


// *********** INSERT HERE ************* //

.stl [type='radio'] {
  display: none;
}

.stl .btn {
  font-size: 10px;
}

.stl .btn.focus {
  outline: none;
}

.stl .btn.active.focus {
  outline:none;
  color: black;
  background-color: $lightgray;
  border-color: $lightgray;
}

.stl .btn-primary {
    color: white;
    background-color: black;
    border-color: white;

    transition: background-color .5s;
}

.stl .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: white !important;
    border-color: white;
    z-index: 0 !important;

    transition: background-color .5s;
}

.stl .btn-primary:hover {
  color: black !important;
  background-color: white !important;
  border-color: white !important;

  z-index: 0 !important;

  transition: background-color .5s;
}

.stl .form-control {
  background-color: white;
  border: 1px solid $lightgray;
  padding: 6px 12px !important;
  height: 28px;
  width: auto;
}

.stl .form-control:hover {
  background-color: white;
  color: black;
}

.stl .form-control:focus {
  outline: none;
  border: 1px solid $lightgray;
  box-shadow: none;
}

form {
  display: inline-block;
}


.axis text {
  font-family: $pageserif;
  fill: $mediumgray;
  text-transform: uppercase;
}

.axis path {
  fill: none;
  stroke: none;
}

.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis .tick line {
  stroke: $lightergray;
  stroke-dasharray: 4,4;
}

.xaxislabels {
  cursor: pointer;
}

.axisLabel {
  font-size: 10px;
  font-family: $pageserif;
  fill: $lightergray;
  text-anchor: middle;
}

.axisLabelBG {
  font-size: 10px;
  font-family: $pageserif;
  fill: $darkgray;
  stroke: white;
  stroke-width: 4px;
  text-anchor: middle;
}

.line {
  fill: none;
  stroke: $pagecolor;
  stroke-width: .2px;
}

.xLabel {
  font-family: $pageserif;
  color: $darkgray;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
}

.yLabel {
  font-family: $pageserif;
  color: $darkgray;
  font-weight: 700;
  font-size: 12px;
  position: absolute;

  transform-origin: top left;
  transform-style: preserve-3D;
  -ms-transform: rotate(-90deg) translate(-90%);
  -webkit-transform: rotate(-90deg) translate(-90%);
  transform: rotate(-90deg) translate(-90%);
}

.roundclose {
  position: absolute;
  display: none;
  opacity: 0;
  top: 43px;
  left: 0;
  cursor: pointer;
  font-size: 11px;
}

.playertip {
  display: none;
  // pointer-events: none;
  width: 200px;
  max-width: 200px;
  position: fixed !important;
  bottom: 10px;
  right: 0;
  background-color: white;
  border-radius: 6px;
  z-index: 99;
  opacity: 1;

  text-align: left;
  font-family: $pagesansserif;
  font-size: 10px;
  text-align: left;
  color: $darkgray;

  -webkit-box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
  box-shadow: 0px 0px 24px -7px rgba(255,255,255,1);
}

.d3-tip {
  background-color: white;
  max-width: 200px;
  min-width: 200px;
}

.tipclose {
  font-size: 11px;
  color: white;
  position: absolute;
  top: 5px;
  right: -95px;
  z-index: 99;
  cursor: pointer;
}

.pt-header {
  // color: white;
  background-color: white;
  width: 100%;
  min-height: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid $lightgray;
  border-right: 1px solid $lightgray;
  padding: 5px;

  font-size: 16px;
  font-weight: 500;

  display: flex;
  align-items: flex-end;

  margin-top: 10px;
}

.pt-meta {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  color: white;
  font-family: $pageserif;
  font-size: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 50px;
}

.pt-main {
  background-color: white;
  width: 100%;
  padding: 5px;
  border-left: 1px solid $lightgray;
  border-right: 1px solid $lightgray;
  border-bottom: 1px solid $lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pt-main1 {
  font-family: $pagesansserif;
  font-size: 10px;
  text-align: left;
  color: #333333;
}

.pt-career {
  margin-top: 15px;
}

.pt-career h5 {
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  color: $lightgray;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.statbox {
  display: inline-block;
}

.sbt {
  font-size: 8px;
}

.sbb {
  font-size: 12px;
  font-weight: 700;
  font-family: $pageserif;
}

.footnote1 {
  font-size: 7px;
  color: $lightgray;
  margin-top: 15px;
}

.row a:hover {
  color: inherit;
  border-bottom: 1px solid $lightgray;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.playerHighlight {
  border-bottom: 1px solid;
  cursor: pointer;
}

.playerHighlight:hover {
  border-bottom: 1px solid black;
}

.ducks{color: #F57D31;}
.coyotes{color: #EEE3C7;}
.bruins{color: #FDB930;}
.sabres{color: #FDB930;}
.flames{color: #CB0D0D;}
.hurricanes{color: #E51A38;}
.blackhawks{color: #000000;}
.avs{color: #165788;}
.bluejackets{color: #002147;}
.stars{color: #016F4A;}
.redwings{color: #E51837;}
.oilers{color: #EB6E1E;}
.panthers{color: #C51230;}
.wild{color: #004F30;}
.habs{color: #C51230;}
.preds{color: #002D62;}
.devils{color: #E03A3E;}
.islanders{color: #F57D31;}
.rangers{color: #0161AB;}
.sens{color: #E51837;}
.flyers{color: #000000;}
.pens{color: #C5B358;}
.blues{color: #002D62;}
.sharks{color: #007889;}
.lightning{color: #003D7C;}
.leafs{color: #013E7F;}
.canucks{color: #008852;}
.caps{color: #C60C30;}
.jets{color: #006EC8;}
.kings{color: #B2B7BB;}
.knights{color: #89734C;}



// *********** MENU - DON'T TOUCH ************* //

progress {
  display: $progress;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 99;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  border: none;
  background-color: transparent;
  color: $pagecolor !important;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $pagecolor !important;
}

progress::-moz-progress-bar {
  background-color: $pagecolor !important;
}




header {
  position: absolute;
  z-index: 99;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-logo {
  display: inline-block;
  height: 60px;
  margin: 20px 0px 0px 15px;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  font-family: $sansserif;
  font-weight: 500;
  color: $darkgray;
  border: none !important;
}


.cd-logo a {
  border-bottom: none;
  color: $mediumgray;
}

.cd-logo a:hover{
  color: $lightgray;
  border-bottom: 1px solid;
}

.logo-clicked {
  color: $oppcolor;
}

.logo-clicked a:hover {
  color: $lightgray !important;
}

@media only screen and (min-width: 1024px) {
  .cd-logo {
    position: absolute;
    z-index: 2;
    margin-left: 5%;
  }
}
